<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>830698795546-ok4m1lfac55n6ph48sopahuetq6vmr8e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.830698795546-ok4m1lfac55n6ph48sopahuetq6vmr8e</string>
	<key>API_KEY</key>
	<string>AIzaSyBonhnJ4sc6kMS3jE18xQ_iJkpVb4_gaGI</string>
	<key>GCM_SENDER_ID</key>
	<string>830698795546</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.roomood.company</string>
	<key>PROJECT_ID</key>
	<string>roomood-312112</string>
	<key>STORAGE_BUCKET</key>
	<string>roomood-312112.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:830698795546:ios:45a3a073c4b14eb05817a3</string>
	<key>DATABASE_URL</key>
	<string>https://roomood-312112-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>